@import "./colors.scss";

a {
  color: #fff;
  transition: color 250ms;

  &:hover {
    color: $primary;
    text-decoration: none;
    transition: color 500ms;
  }

  &:active,
  &:focus {
    box-shadow: none;
  }
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-borderless {
  border: none !important;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
  transition: 100ms;

  &:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    transition: 250ms;
  }
}

.btn-outline-darker {
  color: $dark;
  border-color: $dark;
  transition: 100ms;

  &:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    transition: 250ms;
  }
}


.bg-transparent-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

h1,
h2 {
  span {
    color: $primary;
  }
}
